<%- include('../partials/head') -%>
<%- include('../partials/header') -%>

<div class="error-container main-body">
  <h1><%= message %></h1>
  <h3>You are not allowed to access this resource.</h3>

  <img class="error-container__img" src="images/forbidden.webp" alt="Not found">

  <p>Return to the <a class="error-container__home-page" href="/">Home page</a>.</p>
</div>

<%- include('../partials/footer') -%>
<%- include('../partials/header-closing') -%>